@import '../../../../../styles/index.scss';
.resort
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding-left: 5%;
    padding-right: 5%;

    i
    {
        color: $primary_color;
    }

    .form
    {
        margin-top: 25px;
    }

}


@media screen and (max-width: 1024px)
{
    .resort
    {

        .map
        {
            height: 400px;
        }
    }
}
@media screen and (max-width: 768px)
{
    .resort
    {

        .map
        {
            height: 325px;
        }
    }
}