@import '../../styles/index.scss';

%title
{
    font-size: 3em;
    font-family: "Kazimir";
    transform: skewY(-1.5deg);
    background-color: $primary_color;

    p
    {
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
        transform: skewY(1.5deg);
        color: $sub_color;
    }
}
@media screen and (max-width: 425px)
{
    %title
    {
        font-size: 2em;
    }
}