@import '../../../styles/index.scss';

.services
{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    row-gap: 30px;
    background-color: $side_color;

    h1
    {
        margin: 0;
        // border-bottom: 1px solid black;
    }

    i 
    {
        @extend %grid_center;
    }

    .sections
    {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;

        i, p, span
        {
            font-size: 1.5em;
            align-self: flex-start;
        }
        
        .service
        {
            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: fit-content(50px) 1fr;
            row-gap: 10px;
            column-gap: 5px;
    
            i
            {
                padding: 0 5px;
                grid-column: 1;
            }
        
            p
            {
                margin: 0;
                grid-column: 2;
            }
    
            //For cruises page
            &.cruises
            {
                grid-template-columns: 1fr 1fr;
    
                span
                {
                    grid-column: 1;
                }
                
                p
                {
                    grid-column: 2;
                    align-self: flex-end;
                    // border-bottom: 1px solid black;
                }
            }
        }

        //For tours page
        &.tours
        {
            grid-template-rows: repeat(3, auto);
            grid-template-columns: auto;
            column-gap: 25px;

            .section_first
            {

                i
                {
                    justify-self: flex-start;
                    padding: 10px;
                    font-size: 3em;
                }

                h1, .service
                {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .service
                {
                    grid-template-columns: 1fr 2.5fr;

                    .map
                    {

                        .ymap
                        {
                            height: 600px;
                            width: 100%;
                        }
                    }
                    
                    .map, .languages, .countries, .routes
                    {
                        grid-column: 2;
                    }
                }
            }

            .section_first,
            .section_second,
            .section_third
            {
                border-bottom: 3px solid $primary_color;
                padding-bottom: 20px;
            }

            .section_first,
            .section_second,
            .section_third
            {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 1fr 2.5fr;
                column-gap: 10px;
            }
        }        
    }
    
    .address
    {
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: fit-content(50px) 1fr;
        column-gap: 10px;

        i
        {
            padding: 0 5px;
            font-size: 3em;
        }

        h1
        {
            justify-self: left;
            align-self: center;
            margin: 0;  
        }
    }
}



@media screen and (max-width: 1024px)
{
    //MAKE ADAPTION
    .services
    {
        grid-template-rows: 1fr;

        .sections
        {
            grid-auto-rows: auto;
            grid-template-columns: 1fr;

            //For tours page
            &.tours
            {
                .section_first
                {
                    .service
                    {

                        .map
                        {
                            
                            .ymap
                            {
                                height: 400px;
                            }
                        }
                    }
                }

                .section_first,
                .section_second,
                .section_third
                {
                    grid-template-rows: repeat(2, auto);
                    grid-template-columns: 1fr;
                    row-gap: 15px;
                }
            }    
        }

        .address
        {
            grid-column-start: unset;
            grid-column-end: unset;

            i, h1
            {
                align-self: flex-end;
            }
        }
    }
    
}
@media screen and (max-width: 768px)
{
    .services
    {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        
        .sections
        {

            //For tours page
            &.tours
            {

                .section_first
                {

                    .service
                    {
                        grid-template-rows: repeat(8, auto);
                        grid-template-columns: 1fr;

                        .map, .languages, .countries, .routes
                        {
                            grid-column: 1;
                        }

                        .map
                        {

                            .ymap
                            {
                                height: 325px;
                            }
                        }
                    }
                }
            }    
        }
    }
}