$primary_color: #4782e1;
$sub_color: #fff;
$primary_font_color: #333333;
$placeholder_color: #FFDD00;
$attention_color: #FF0062;
$side_color: #F7F7F7;

$disabled_color_back: #80ABF0;
$disabled_color_text: #C4C4C4;
$disabled_color_title: #628CD0;

/* FROM GLOBALS.SCSS */
@function MainColor(){

  $mainColor: #0062FF !global;
  @return $mainColor;

}
%shadow
{
    box-shadow: 0px 0px 3px $primary_font_color, -0px -0px 3px $primary_font_color;
}
%font
{
    font-family: 'Mediator Serif';
    font-size: 1em;
}

%border 
{

    border: 5px solid $primary_color;
}

%grid_center
{

    align-self: center;
    justify-self: center;
}

%button
{
    &:hover
    {
        cursor: pointer;
    }
    &:active
    {
        background-color: $primary_color;
        color: $sub_color;
    }
}

%as_button
{
    &:hover
    {
        cursor: pointer;
        user-select: none;

    }
}

%double_choose
{
    & > a:nth-child(1)
    {

        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }
    & > a:nth-child(2)
    {
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    }
}

%double_choose_reverse
{
    & > a:nth-child(1)
    {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }
    & > a:nth-child(2)
    {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }
}

%none_action
{
    pointer-events: none;
    user-select: none;
}

%fieldset
{
    border: 3px solid $primary_color;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    
    & > legend
    {
        text-align: center;
        position: relative;
        z-index: 5;
    }
}

@mixin blur($bgColor: (255, 255, 255, 0.5), $blur: 5px)
{
    backdrop-filter: blur($blur);
    background-color: rgba(nth($bgColor, 1), nth($bgColor, 2), nth($bgColor, 3), nth($bgColor, 4)); 
    z-index: 40;
}
@mixin double_choose_block($width: 80%, $height: 10vh, $font-size: 2.3em, $font: 'Kazimir')
{
    display: grid;
    height: $height;
    width: $width;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);  
    @extend %double_choose;

    a
    {
        background-color: $primary_color;   
        width: 100%; 
        font-family: $font;
        display: grid;
        justify-items: center;
        @extend %as_button;
        font-size: $font-size;
        color: $sub_color;

        &:hover
        {
            background-color: $primary_font_color;
        }
    }
    a:first-child:hover ~ a:last-child
    {
        background-color: $primary_color !important;
    }
    a:last-child:hover + a:first-child
    {
        background-color: $primary_color !important;
    }
}