/* .list{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 90vh;
    margin-top: 3%;
}
.map, .names{

    width: 100%;
    height: 100%;
}
.map > div{

    width: 100% !important;
    height: 100% !important;
}
.names{

    display: grid;
    grid-auto-flow: row;
    overflow-y: auto;
}
.names > div{

    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    font-family: 'Mediator Serif Regular';
    color: #333333;
    overflow: hidden;
    border-top: 3px solid #009BDF;
    
}
.names > div > p:first-child{

    margin-left: 3%;
}
.names > div:last-child{

    border-bottom: 3px solid #009BDF;
}
.names > div > p{

   word-break: break-all;
   font-size: 1.2em;
} */
/* ZIMIN`S CLASSES */
.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    /* grid-template-areas: 'item_1 item_2 item_3 item_4'; */
}



