@import '../../../styles/index.scss';

.footer{

    display: grid;
    width: 100%;
    /* ZIMIN */
    /* height: 100vh; */
    background-color: $primary_color;
    clip-path: polygon(0% 0%, 46% 16%, 100% 7%, 100% 100%, 0% 100%);
    display: grid;
    grid-template-columns: 20% 20% 20% 2.5% 30%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    ". . . . ."
    ". map map . info"
    ". map map . info"
    ". links links . ."
  ;
}
.footer__map{

    grid-area: map;
    width: 100%;
    height: 100%;
   /* clip-path: polygon(0 9%, 28% 0, 63% 0%, 93% 9%, 100% 55%, 96% 94%, 46% 100%, 2% 97%, 0 64%);*/
    position: relative;
}
.footer__map div{

    width: 100%!important;
    height: 100%!important;
}
.footer__links{

    display: grid;
    align-self: start;
    grid-area: links;
    justify-items: center;
    /* ZIMIN */
    /* padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%; */
    padding: 5% 30%;
    
}
.links{

    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-area: links;
    grid-column: 1 / 4;
}
.footer__info{

    display: grid;
    width: 100%;
    height: 100%;
    grid-area: info;
    grid-template-columns: 1fr;
    
}
.info__block *{
    color: $sub_color;
    font-family: 'Mediator Serif';
}
.info__block img{

    //width: 25%;
    object-fit: contain;
    /* ZIMIN */
    margin: 0 auto;
}
.info__block{

    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
    color: $sub_color;

    & > div
    {
        justify-self: center;
    }
}
/* iPads: вертикальная ориентация */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    

}
/* iPads: горизонтальная ориентация */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {

   

}
/* ZIMIN */
@media (max-width: 768px)
{
    .footer{
        padding-top: 250px;
        grid-template-rows: 20px repeat(3, 1fr);
        grid-template:      '. . . . .'
                            '. . map . .'
                            '. links links links .'
                            '. info info info .';
        /* grid-template-columns: ; */
    }

    /* .footer__map ymaps{
        width: 500px !important;
        height: 500px !important;
    } */

    .footer__info{
        padding-bottom: 15px;
    }
}