@import '../../../styles/index.scss';

.time_table
{
    margin: 15px 0;
    padding: 10px 5px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 15px;
    background-color: $side_color;

    .days
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 10px;

        h1, span, p
        {
            margin: 0;
        }

        .event
        {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 10px;

            span
            {
                grid-column: 1;
                white-space: nowrap;
            }

            p
            {
                grid-column: 2;
            }
        }
    }
}