@import '../../../styles/index.scss';

.header_admin{

    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'db traffic orders'
    '. promocode .'
    'pages employees finance';
    justify-items: center;
    align-items: center;
    & > a{
    
        color: $sub_color;
        font-family: 'Mediator Serif';
        font-size: 1.6em;
        cursor: pointer;
    }
    .db
    {
        grid-area: db;
    }
    .traffic
    {
        grid-area: traffic;
    }
    .orders
    {
        grid-area: orders;
    }
    .promocode
    {
        grid-area: promocode;
    }
    .pages
    {
        grid-area: pages;
    }
    .employees
    {
        grid-area: employees;
    }
    .finance
    {
        grid-area: finance;
    }
}