@import '../../../styles/index.scss';

.header_db{

    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    padding-top: 3%;

    & .back
    {
        position: absolute;

        & > div
        {
            position: relative;
        }
    }
}
.header_db__parameters{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 80%;
    height: 10vh;
}
.arrow_back
{
    & *
    {
        color: $sub_color;
        font-size: 1.5em;
    }
    justify-self: left;
}
.header_db__parameters > a{

    width: 100%;
    background-color: $sub_color;
    color: $primary_font_color;
    font-family: 'Kazimir';
    font-size: 2.5em;
    display: grid;
    align-items: center;
    text-align: center;
}
.header_db__parameters > a:nth-child(1){

    clip-path: polygon(0 23%, 3% 0, 100% 0, 100% 100%, 3% 99%, 0 77%);
}
.header_db__parameters > a:nth-child(3){

    clip-path: polygon(100% 23%, 97% 0, 0 0, 0 100%, 97% 100%, 100% 77%);
}
.header_db__queries_none{

    visibility: hidden;
}
.header_db__queries{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.header_db__queries label{

    color: $sub_color;
    @extend %font;
    font-size: 1.6em;
    @extend %as_button;
}
.header_db__trips, .header_db__relax{

    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    /* clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%); */
    width: 80%;
    height: 10vh;
    
}   
.header_db__trips{

    @extend %double_choose;

}
.header_db__relax{

    @extend %double_choose_reverse;
}
.header_db__relax a{
   
    margin-top: 1%;
}
.header_db__trips a{

    margin-top: 2%;
}
.header_db__trips a, .header_db__relax a{

    font-size: 2.5em;
    width: 100%;
    display: grid;
    justify-items: center;
    cursor: pointer;
    font-family: 'Kazimir';
    background-color: $sub_color;
    color: $primary_color;
}
.header_standart{

    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    padding-top: 3%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
    & a
    {
        @extend %font;
        color: $sub_color;
        font-size: 1.5em;

    }
    & > a:nth-child(2)
    {
        grid-row: 2 / 2;
        grid-column: 1 / 1;    
    }
    & > a:nth-child(3)
    {
        grid-row: 2 / 2;
        grid-column: 2 / 2;    
    }
    & > a:nth-child(4)
    {
        grid-row: 2 / 2;
        grid-column: 3 / 3;    
    }
}
.header_empty
{
    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    & > a{

        @extend %font;
        font-size: 2em;
        color: $sub_color;
    }
}