@import '../../../styles/index.scss';


.header_db{

    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    padding-top: 3%;
}
.header_db__parameters{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 80%;
    height: 10vh;
}
.header_db__parameters > a{

    width: 100%;
    background-color: $sub_color;
    color: $primary_font_color;
    font-family: 'Kazimir';
    font-size: 2.5em;
    display: grid;
    align-items: center;
    text-align: center;
}
.header_db__parameters > a:nth-child(1){

    clip-path: polygon(0 23%, 3% 0, 100% 0, 100% 100%, 3% 99%, 0 77%);
}
.header_db__parameters > a:nth-child(3){

    clip-path: polygon(100% 23%, 97% 0, 0 0, 0 100%, 97% 100%, 100% 77%);
}
.header_db__queries_none{

    visibility: hidden;
}
.header_db__queries{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.header_db__queries label{

    color: $sub_color;
    font-family: 'Mediator Serif';
    font-size: 1.6em;
}
[type="radio"]:checked + .radio_button::after,
[type="radio"]:not(:checked) + .radio_button::after{

    
    background: $primary_color;
}
[type="radio"]:checked + .radio_button::before,
[type="radio"]:not(:checked) + .radio_button::before{

    background: $sub_color;
    border: 1px solid $sub_color;
}
/* .trips p::before, .relax p::before{

    content: '';
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: -3px;
    
    
}
.trips p:nth-child(1){

    position: relative;
    z-index: 10;
}
.trips p:nth-child(2){

    position: relative;
    z-index: 10;
} */
.header_db__trips, .header_db__relax{

    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    /* clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%); */
    width: 80%;
    height: 10vh;
    
}   
.header_db__trips{

    @extend %double_choose;

}
.header_db__relax{

    @extend %double_choose_reverse;
}
.header_db__relax a{
   
    margin-top: 1%;
}
.header_db__trips a{

    margin-top: 2%;
}
.header_db__trips a, .header_db__relax a{

    font-size: 2.5em;
    width: 100%;
    display: grid;
    justify-items: center;
    cursor: pointer;
    font-family: 'Kazimir';
    background-color: $sub_color;
    color: $primary_color;
}

.header_promocode
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: $primary_color;
}

.header_employees{

    width: 100%;
    height: 50vh;
    background-color: $primary_color;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    padding-top: 3%;
    grid-template-columns: repeat(3, 1fr);
}
.header_employees > a{

    font-size: 2em;
    font-family: 'Mediator Serif Regular';
}