.reviews{
    margin-top: 10%;
    width: 100%;
    /* height: 63vh; */
    border-bottom: 7px solid #009BDF;
    border-top: 7px solid #009BDF;
    background-color: #fff;
    grid-template-columns: 2fr 3fr;
    display: grid;
}
.reviews_left{
    grid-template-columns: 3fr 2fr;
}   
.reviews__text_right{
    padding-right: 10%;
}
.reviews__text_left{
    padding-left: 10%;
}
.reviews__text{

    width: 100%;
    align-self: center;
    padding-left: 10%;
    font-family: 'Mediator Serif';
    font-size: 2.5vh;
    color: #333333;
}
.reviews__image{

    width: 100%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 4fr 1fr;
    margin-top: 6%;
}
.reviews__image div{

    font-family: 'Kazimir';
    color: #009BDF;
    align-self: start;
    text-align: center;
}
.reviews__image div > h3{

    margin-top: -5%;
}
.reviews__image a{

    min-width: 50%;
    min-height: 50%;
    display: grid;
    justify-self: center;
    justify-items: center;
    align-items: center;
}
.reviews__image a > img{

    min-width: 100%;
    object-fit: cover;
}
/* ZIMIN */
@media screen and (max-width: 768px) {
    
    .section_top{

        margin-top: 30%;
    }
    .reviews__text_left{

        padding-right: 10%;
    }
    .reviews__text{
        font-size: 2.8vh;
        grid-area: text;
    }
    .reviews__image{

        height: 100%;
        width: 100%;
        grid-area: image;
    }
    .reviews__image a > img{
        max-width: 900px;
    }
    .reviews__image a{
       
        min-width: 80%;
        min-height: 80%;
    }
    .reviews{
       
       
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image'
        'text';
        /* ZIMIN */
        /* height: 220vh; */
    }
    .reviews_height{

        /* ZIMIN */
        /* height: 250vh; */
    }
    .reviews__image div > h2{

        font-size: 6vh;
    }
    .reviews__image div > h3{

        font-size: 5vh;
    }
}
/* iPads: вертикальная ориентация */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    .section_top{

        margin-top: 30%;
    }
    .reviews__text_left{

        padding-right: 10%;
    }
    .reviews__text{
        font-size: 2.8vh;
        grid-area: text;
    }
    .reviews__image{

        height: 100%;
        width: 100%;
        grid-area: image;
    }
    .reviews__image a > img{
        max-width: 900px;
    }
    .reviews__image a{
      
        min-width: 80%;
        min-height: 80%;
    }
    .reviews{
       
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image'
        'text';
        /* ZIMIN */
        /* height: 210vh; */
    }
    .reviews_height{

        height: 250vh;
    }
    .reviews__image div > h2{

        font-size: 6vh;
    }
    .reviews__image div > h3{

        font-size: 5vh;
    }

}
/* iPads: горизонтальная ориентация */
@media only screen and (max-device-width : 768px) and (orientation : landscape) {


    .section_top{

        margin-top: 30%;
    }
    .reviews__text_left{

        padding-right: 10%;
    }
    .reviews__text{
        font-size: 2.8vh;
        grid-area: text;
    }
    .reviews__image{

        height: 100%;
        width: 100%;
        grid-area: image;
    }
    .reviews__image a > img{
        max-width: 900px;
    }
    .reviews__image a{
       
        min-width: 80%;
        min-height: 80%;
    }
    .reviews{
       
       
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'image'
        'text';
        /* ZIMIN */
        /* height: 220vh; */
    }
    .reviews_height{

        height: 250vh;
    }
    .reviews__image div > h2{

        font-size: 6vh;
    }
    .reviews__image div > h3{

        font-size: 5vh;
    }

}
/* Смартфоны: вертикальная ориентация */
@media only screen and (max-width : 320px) {

  

}
/* Смартфоны: горизонтальная ориентация */
@media only screen and (min-width : 321px) {

    
}
