.country{

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.country__mark{

    grid-column: 2 / 2;
    width: 5%;
    height: 5vh;
}
.country__mark{

    width: 100%;
    height: 100%;
}
.country__description{

    width: 100%;
    height: auto;
    background-color: red;
    display: grid;
    grid-column: 2 / 4;
}