$primary_color: #0062FF;
$sub_color: white;
$primary_font_color: black;
$placeholder_color: #FFDD00;

/* FROM GLOBALS.SCSS */
@function MainColor(){

  $mainColor: #0062FF !global;
  @return $mainColor;

}
$mainColor: #0062FF;
$sideColor: #fff;
$placeholderColor: #615b36;
/* FROM GLOBALS.SCSS */

%border 
{
    padding: .5px;
    border: 3px solid $primary_color;
    border-radius: 5px;
}

%grid_center
{

    align-self: center;
    justify-self: center;
}

%button
{
    &:hover
    {
        cursor: pointer;
    }
    &:active
    {
        background-color: $primary_color;
        color: $sub_color;
    }
}
