.form{

   
    height: 60vh;

}
.inputText{
    justify-self: center;
    width: 70%;
    height: 10vh;
}
.button{

    width: 30%;
    height: 10vh;
    justify-self: center;
}
.select{

    justify-self: center;
    width: 50%;
    height: 10vh;
}