.aside{

    float: left;
    position: fixed;
    top: 0px;
    width: 20%;
    height: 100%;
    background-color: #009BDF;
    z-index: 100;
    display: grid;
    justify-items: center;
    display: none;
}
@media only screen and (max-width : 1025px) {

    .aside{
    
        display: block;
    }
}
.aside__links{

    display: grid;
    width: 90%;
    justify-items: center;
    align-items: center;
    margin-top: 30%;
}
.aside__links a{

    min-width: 100%;
    margin-bottom: 50%;
    display: grid;
    justify-items: center;
}

.aside__links > a:first-child > img{

    min-width: 80%;
   

}
.aside__links > a > img{

    min-width: 70%;
   

}
/* Смартфоны: вертикальная ориентация */
@media only screen and (max-width: 415px) and (orientation : portrait){
  
    .aside{

        width: 30%;
    }
    .aside__links > a:first-child > img{

        max-width: 100%;
        
    }
    .aside__links > a > img{
    
        min-width: 30%;
        max-width: 60%;
    }
}
/* Смартфоны: горизонтальная ориентация */
@media (max-width: 813px) and (max-height: 415px){
  
    .aside{

        width: 30%;
        
    }
    .aside__links{
        margin-top: 0%;
        grid-template-columns: repeat(2, 1fr);
    }
    .aside__links > a:first-child > img{

        max-width: 60%;
        min-width: 0%;
        
    }
    .aside__links > a:first-child{

        grid-column: 1 / 3;
    }
    .aside__links > a > img{
    
        min-width: 60%;
        max-width: 20%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){


}
/* iPads: горизонтальная ориентация */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {



    /* .aside__links > a:first-child > img{

        max-width: 100%;
        min-width: 0%;
        
    }
    .aside__links > a > img{
    
        min-width: 45%;
        max-width: 45%;
    } */

}