@import '../../../../../styles/index.scss';
.resort
{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 5px 15px;

    i
    {
        color: $primary_color;
    }

    .form
    {
        margin-top: 25px;
    }
}