@import '../../styles/index.scss';

.wrap{

    transform: skewX(-20deg);
    border: 5px solid $primary_color;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}
.wrap:hover{

    background-color: $primary_color;
}
.wrap:hover > input{
    color: $sub_color;
}
.input::placeholder{

    text-align: center;
}
.input{
    background-color: transparent;
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    width: 98%;
    position: relative;
    transform: skewX(20deg);
    border: none;
    color: $primary_color;
    text-align: center;
    cursor: pointer;
}
.wrap > button{

    width: 98%;
    min-height: 10% !important;
    max-height: 90% !important;
    cursor: pointer;
    position: relative;
    transform: skewX(20deg);
    display: grid;
    align-content: center;
}
.wrap{

    &:hover{
        button{

            p{

                color: $sub_color !important;

            }
        }
    }
}