@import '../../styles/index.scss';

.wrap{

    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    
}
.drag{

    border: 5px solid $primary_color;
}
.drop{

    border: 5px dashed $primary_color;
}
.drag, .drop, .placeholder{

    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Mediator Serif Regular';
    color: $primary_color;
    text-align: center;
    display: grid;
    align-items: center;
}
#file{

    visibility: hidden;
}