@import '../../styles/index.scss';

.wrap
{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 30vw));
    grid-gap: 3%;
    .image
    {
        border: 5px solid $primary_color !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        & div
        {
            @extend %as_button;
            @extend %font;
            background-color: rgba($color: $primary_color, $alpha: 0.7);
            color: $sub_color;
            min-width: 100%;
            text-align: center;
        }
        & div:first-child
        {
            border-right: 5px solid $sub_color;
        }
    }
}