@import '../../styles/index.scss';

.wrap
{
    display: grid;
    & > label
    {
        @extend %font;
        color: $primary_font_color;
    }
}
.inputNumber{
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'input plus'
    'input minus';
    border: 5px solid $primary_color;
}
.input, .plus, .minus{

    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    color: $primary_color;
    text-align: center;
    width: 100%;
    height: 100%;
}
.input::placeholder{

    text-align: center;
    color: $primary_color
}
.input{

    grid-area: input;
    border-right: 5px solid $primary_color;
   
}
.plus, .minus{

    @extend %as_button;
    background-color: transparent;
}
.plus{

    grid-area: plus;
}
.minus{

    border-top: 5px solid $primary_color;
    grid-area: minus;
}
