@import '../../styles/index.scss';
.date 
{
    display: block;
    height: fit-content;
    label, input 
    {
        display: block;
    }
    label
    {
        margin-bottom: 5px;
        white-space: nowrap;
        color: $primary_color;
    }
    input
    {
        width: 100%;
        height: 3em;
        border: 5px solid $primary_color;
        color: $sub_color;
        background-color: $primary_color;
        &::-webkit-calendar-picker-indicator
        {
            filter: invert(100%);
        }
    }
}