@import '../../styles/index.scss';

 .wrap{

    transform: skewX(-20deg);
    background-color: $primary_color;
    display: grid;
    justify-items: center;
    align-items: center;
}
.input::placeholder{

    color: $placeholder_color;
    text-align: center;
}
.input{
    background-color: transparent !important;
    @extend %font;
    width: 98%;
    position: relative;
    transform: skewX(20deg);
    border: none;
    color: $sub_color;
    text-align: center;
}