@import '../../styles/index.scss';

.wrap{

    border: 5px solid $primary_color;
    width: 100%;
    min-height: 100% !important;
    display: grid;
    grid-template-areas: 
    'day day'
    'time time'
    'minus plus';
}
.plusDay{

    grid-area: plus;
}
.minusDay{

    grid-area: minus;
}
.wrap > *{

    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    color: $primary_color;
}
.program{

    display: grid;
}
.day, .time, .description{

    width: 100%;
    height: 100%;
    
}
.day, .time{

    text-align: center;
}
.time{

    display: grid;
    width: 100%;
    height: 100%;
    grid-area: time;
}
.time_input
{
    text-align: center;
    &::placeholder{
    
        color: $primary_font_color;
        text-align: center;
    }
}
.day{
    grid-area: day;
}
.description{
    
    width: 100%;
    border-left: 5px solid $primary_color;
    border-right: 5px solid $primary_color;
    resize: none;
}
.time_wrap{

    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    width: 100%;
    height: 100%;
    border-top: 5px solid $primary_color;
    border-bottom: 5px solid $mainColor;
}
.time_wrap > *{

    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    color: $primary_color;

}
.controls{

    display: grid;
    align-items: center;
    color: $primary_color;
    background-color: transparent;
    text-align: center;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    user-select: none;
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
}
.controls_new{

    background-color: $primary_color;
    color: $sub_color;
    
}