@import '../../styles/index.scss';

.wrap
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    @extend %border;
    border: inset 5px solid $placeholder_color;
    align-items: stretch;
    .input
    {
        @extend %font;
        border-right: 5px solid $primary_color;
        color: $primary_color;
        min-width: 100%;
        min-height: 100% !important;
        background-color: $sub_color;
        text-align: center;
        &::placeholder
        {
            text-align: center;
            color: $primary_color;
        }
    }
    .ok
    {
        background-color: $primary_color;
        color: $placeholder_color;
        width: 100%;
        min-height: 100% !important;
        display: grid;
        align-content: stretch;
        align-items: center;
        justify-items: center;

        @extend %font;
    }
}
