@import '../../styles/index.scss';
.select_option 
{
    height: fit-content;

    i
    {
        @extend %grid_center;
        @extend %as_button;
        @extend %border;
        font-size: 1.8em;
        // height: 100%;

        &::before
        {
            background-color: $sub_color;
            padding: 0 1.5px;
        }
        &:hover
        {
            cursor: pointer;
        }
    }

    label
    {
        display: block;
        margin-bottom: 5px;
        white-space: nowrap;
        color: $primary_color;
    }
    
    select
    {
        height: 3em;
        width: 100%;
    }

    select, option
    {
        @extend %border;
        background-color: $side_color;
    }
}

.dynamic_option 
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1px;
}
