@import '../../styles/index.scss';
// .relax{
//     height: auto;
// }


.resort{
    display: grid;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
    /* width: min-content; */
    /* padding: 0 15px; */
    grid-template-rows: 1fr; 
    grid-template-areas: 'search'
                         'choose'
                         'rest';
    gap: 35px;
}

.search{
    grid-area: search;
}

.choose{
    grid-area: choose;
    @include double_choose_block();
}

.pansionat, .hotels{
    text-align: center;
}
.pansionat h1, .hotels h1{
    @extend %border;
    @extend %button;
    color: black;
    margin: 0;
}
/* .pansionat:hover, .sanatorium:hover,
.pansionat a.active, .sanatorium a.active{
    background-color: #009BDF;
    color: white;
} */

.pansionat{
    /* grid-area: pan; */
    border-right: none;
    transform: skew(-20deg);
}
.pansionat h1{
    border-right: 3px solid #009BDF;
    transform: skew(20deg);
}
.hotels{
    /* grid-area: san; */
    border-left: none;
    transform: skew(20deg);
}
.hotels h1{
    border-left: 3px solid #009BDF;
    transform: skew(-20deg);
}

.rest{
    grid-area: rest;
}

@media screen and (max-width: 1024px)
{
    .hotels h1, .pansionat h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 425px)
{
    .choose{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }
    .hotels, .pansionat, .hotels h1, .pansionat h1{
        transform: none;
    }
    .hotels h1, .pansionat h1{
        font-size: 1em;
    }
}