.form{

    display: grid;
    width: 80%;
    height: 150vh;
    border: 5px solid #333333;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    grid-auto-flow: row;
    padding-top: 3%;
}