@import '../Employees/Table.module.scss';

.form{

    display: grid;
    width: 80%;
    height: fit-content;
    border: 5px solid #333333;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    grid-auto-flow: row;
    padding-top: 3%;
    padding-bottom: 5%;
}
.table
{
    font-size: 1em;

    & > td > div > div:last-child
    {
        width: 10vw !important;
    }
}
.imagesObserver
{
    grid-template-columns: repeat(3, 1fr);
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 3%;
}
.inputText{
    justify-self: center;
    width: 70%;
    height: 10vh;
    margin-top: 5%;
}
.inputText_width50{

    width: 50%;
}
.inputText_width35{

    width: 35%;
}
.textarea{

    justify-self: center;
    width: 70%;
    height: 62vh;
    margin-top: 5%;
}
.textarea__text{
    font-size: 1em !important;
}
.textarea_top10
{
    margin-top: 15%;
}
.inputNumber_wrap{

    justify-self: center;
    margin-top: 5%;
    width: 35%;
    justify-items: center;
}
.inputNumber{

    width: 100%;
    height: 10vh;
  
}
.dynamicList{

    width: 105%;
    height: 5vh;
    justify-self: start;

    & *
    {
        font-size: 1em;
    }
    
}
.form__services_wrap
{
    height: 10vh;
    width: 90%;
}
.form__services{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto;
    grid-column-gap: 3%;
    margin-left: 4.3%;
    margin-right: 4.3%;
    margin-top: 5%;
}
.filesUploader{

    width: 80%;
    height: 30vh;
    justify-self: center;
    margin-top: 5%;
}
.filesUploader__text, .filesUploader__placeholder{

    font-size: 1.5em;
}
.button{
  
    width: 30%;
    height: 10vh;
    justify-self: center;
    margin-top: 5%;
}
.map{

    justify-self: center;
    width: 80%;
    height: 45vh;
    margin-top: 5%;
}
.select{

    justify-self: center;
    width: 50%;
    height: 10vh;
    margin-top: 5%;
}
.program{

    margin-top: 10%;
    width: 80%;
    height: 40vh;
    justify-self: center;
}