.form{

    height: 760vh !important;
}
.block{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}
.inputText{
    justify-self: center;
    width: 70%;
    height: 10vh;
    grid-column: 2 / 3;
}
.inputText_width50{

    width: 50%;
}
.textarea{

    justify-self: center;
    width: 70%;
    height: 62vh;
    grid-column: 2 / 3;
}
.textarea__text{
    font-size: 1em !important;
}
.button__text, .inputText__input, .dynamicList__input, .textarea__title{

    font-size: 1.5em;
}
.inputNumber{

    width: 30%;
    height: 10vh;
    justify-self: center;
    grid-column: 2 / 3;
}
.dynamicList{

    width: 105%;
    height: 5vh;
    justify-self: start;
    
}
.form__services{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 10vh;
    justify-content: start;
    margin: 0 auto;
    grid-column-gap: 3%;
    margin-left: 4%;
    /* background-color: red; */
}
.filesUploader{
    margin-top: 40%;
    width: 80%;
    height: 30vh;
    justify-self: center;
}
.imagesObserver
{
    grid-column: 2 / 3;
}
.filesUploader__text, .filesUploader__placeholder{

    font-size: 1.5em;
}
.button{
  
    width: 30%;
    height: 10vh;
    justify-self: center;
}
.map{

    justify-self: center;
    width: 80%;
    height: 45vh;
}
.select{

    justify-self: center;
    width: 100%;
    height: 10vh;
    grid-column: 2 / 3;
}