@import '../../styles/index.scss';

.advantages__blocks{
    
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: 5%;
    grid-template-columns: repeat(auto-fit, 400px);
    margin-top: 10%;
}
.advantages__block{
    overflow: hidden;
    width: 100%;
    word-wrap: break-word;
    border: 7px solid $primary_color;
    display: grid;
    grid-template-rows: 10% 30% 60%;
}
.advantages__block h1{

    font-family: 'Mediator Serif';
    justify-self: center;
    color: $primary_color;
}
.advantages__block p{

    justify-self: center;
    margin: 5%;
    color: $sub_color;
    font-size: 20px;
    height: 25vh;
}
.advantages__blockImage_1, .advantages__blockImage_2, .advantages__blockImage_3{
    
    position: relative;
    width: 100%;
    height: 50%;
    background-color: $primary_color;
    align-self: end;
    transform: skewY(-5deg);
    display: grid;
    justify-items: center;
    align-items: center;
}
.advantages__blockImage_1::before, .advantages__blockImage_2::before, .advantages__blockImage_3::before{

    width: 150%;
    height: 150%;
    background-color: $primary_color;
    align-self: end;
    content: '';
    position: absolute;
    top: 15%;
    left: -25%;
    transform: skewY(5deg);
}
.advantages__blockImage_1 img, .advantages__blockImage_2 img, .advantages__blockImage_3 img{

    position: relative;
    z-index: 3;
    transform: skewY(5deg);
    
}
.advantages__blockImage_2{

    top: 0%;
    height: 65%;
}
.advantages__blockImage_3{

    height: 80%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

   

}
/* iPads: горизонтальная ориентация */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : landscape) {


   

}
/* Смартфоны: вертикальная ориентация */
@media only screen and (max-width: 415px) and (orientation : portrait){

    .advantages__blocks{

        grid-template-columns: repeat(auto-fit, 200px);
        justify-content: unset;
    }
}
/* Смартфоны: горизонтальная ориентация */
@media only screen and (max-width: 813px) and (min-height: 415px) and (orientation : landscape) {

  
    
}