.header_admin{

    width: 100%;
    height: 50vh;
    background-color: #0062FF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.header_admin > a{

    color: #fff;
    font-family: 'Mediator Serif';
    font-size: 1.6em;
    cursor: pointer;
}