.wrap{

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 5px solid #0062FF;
    width: 100%;
}
.inputs{

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20%;
}
.input{

    font-family: 'Mediator Serif Regular';
    border-right: 5px solid #0062FF;
    border-left: 5px solid #0062FF;
    color: #0062FF !important;
    width: 100%;
}
.input::placeholder{

    color: #0062FF;
    text-align: center;
}
.controls{

    
    color: #0062FF;
    background-color: transparent;
    text-align: center;
    width: 100%;
    cursor: pointer;
    user-select: none;
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
}