$mainColor: #0062FF;
$sideColor: #333333;
$sideColor2: #fff;

.wrap{

    border: 5px solid $mainColor;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'day day'
    'time time'
    'plus minus';
}
.plusDay{

    grid-area: plus;
}
.minusDay{

    grid-area: minus;
}
.wrap > *{

    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    color: $mainColor;
}
.program{

    display: grid;
}
.day, .time, .description{

    width: 100%;
    height: 100%;
    
}
.day, .time{

    text-align: center;
}
.time{

    
}
.time::placeholder{

    color: $sideColor;
}
.day{
    grid-area: day;
    border-bottom: 5px solid $mainColor;
}
.description{
    
    width: 100%;
    border-left: 5px solid $mainColor;
    border-right: 5px solid $mainColor;
    resize: none;
}
.time_wrap{

    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    width: 100%;
    height: 100%;
    grid-area: time;
    border-bottom: 5px solid $mainColor;
}
.time_wrap > *{

    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    color: $mainColor;

}
.controls{

    display: grid;
    align-items: center;
    color: #0062FF;
    background-color: transparent;
    text-align: center;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    user-select: none;
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
}
.controls_new{

    background-color: $mainColor;
    color: $sideColor2;
    
}