/* .list{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 90vh;
    margin-top: 3%;
}
.map, .names{

    width: 100%;
    height: 100%;
}
.map > div{

    width: 100% !important;
    height: 100% !important;
}
.names{

    display: grid;
    grid-auto-flow: row;
    overflow-y: auto;
}
.names > div{

    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    font-family: 'Mediator Serif Regular';
    color: #333333;
    overflow: hidden;
    border-top: 3px solid #009BDF;
    
}
.names > div > p:first-child{

    margin-left: 3%;
}
.names > div:last-child{

    border-bottom: 3px solid #009BDF;
}
.names > div > p{

   word-break: break-all;
   font-size: 1.2em;
} */
/* ZIMIN`S CLASSES */
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;
    grid-auto-rows: 550px;
    gap: 10px;
    padding: 15px 10px;
}

// @media screen and (max-width: 1024px)
// {
//     .list{
//         grid-template-columns: repeat(3, 1fr);

//     }
// }
// @media screen and (max-width: 768px)
// {
//     .list{
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
// @media screen and (max-width: 425px)
// {
//     .list{
//         grid-template-columns: 1fr;
//     }
// }

