@import '../../../styles/index.scss';
.enter
{
    display: grid;

    grid-template-areas: 'slider info'
                         'slider wallet';
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: auto; 
    row-gap: 10px;
    column-gap: 10px;
    
    .slider
    {
        grid-area: slider;
        align-self: center;
        height: 500px;
    }

    .info
    {
        @extend %border;
        grid-area: info;
        display: grid;
        grid-template-rows: repeat(3, auto);
        padding: 25px;
        row-gap: 15px;
        
        h1
        {
    
            font-family: 'Kazimir';
            font-size: 2.5em;
        }
        & > div
        {
            height: fit-content;
            align-self: center;

            h2 
            {
                @extend %font;
                font-size: 2em;
            }
            span 
            {
                white-space: nowrap;
                margin: 0 auto;
                font-size: 1em;
            }
        }
    
        .booking_btn
        {
            justify-self: center;
            height: fit-content;
            padding: 5px 15px;
        }
    
        h1, h2, button
        {
            @extend %grid_center;
            text-align: center;
            margin: 0;
        }
    
        span, button 
        {
            display: block;
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    
        button
        {
            @extend %border;
            @extend %button;
            height: fit-content;
            padding: 10px 20px;
            font-size: 1em;
        }

        //optional
        .duration
        {

        }

        .stars
        {
            display: grid;
            grid-template-rows: 1fr;
            grid-auto-columns: auto;
            column-gap: 15px;
            margin: 0 auto;
            i
            {
                font-size: 3em;
            }
        }
    }
    
    .wallet
    {
        @extend %border;
        grid-area: wallet;
        display: grid;
        grid-template-columns: 1fr 5fr;
    
        p, i
        {
            @extend %grid_center;
        }
    
        p
        {
            text-align: center;
            font-size: 1.5em;
    
        }
    
        i
        {
            font-size: calc(2em + 1vw);
    
        }
    } 
}

.description > div
{
    position: relative;
}

.description 
{
    padding-bottom: 20px;
    margin-top: 5%;
    @extend %font;

    .back
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
        background: linear-gradient(0deg, white, transparent);
    }

    p
    {
        height: 15px;
        overflow: hidden;
    }

    i
    {
        float: right;
        font-size: 2em;
        transition: transform .25s linear;
        &:hover
        {
            cursor: pointer;
        }
        &.active
        {
            transform: rotate(180deg);
        }
        &.active:hover 
        {
            transform: rotate(180deg);
        }
    }
}

@media screen and (max-width: 1024px)
{
    .enter
    {
        grid-template-areas: 'slider'
                             'info'
                             'wallet';
        grid-template-columns: 1fr;

        .slider
        {
            height: 450px;
        }
    }
}
@media screen and (max-width: 425px)
{
    .enter
    {
        .slider
        {
            height: 300px;
        }
    }
}