.form{

  
    height: 150vh;
    
}
.inputText{
    justify-self: center;
    width: 70%;
    height: 10vh;
}
.textarea{

    justify-self: center;
    width: 70%;
    height: 62vh;
}
.textarea__text{

    font-size: 1em;
}
.button{

    width: 30%;
    height: 10vh;
    justify-self: center;
}