.selectInput{

    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #009BDF;
    width: 100%;
    height: 100%;
}
.wrap{

}
.arrowDown, .arrowTop{

    background: #fff;
    position: relative;
    color: #fff;
    
}
.arrowDown::after, .arrowTop::after{

    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    margin-left: 30%; 
    margin-top: 20%; /* Положение треугольника */
    border: 1.5vw solid transparent; /* Прозрачные границы */
    border-top: 4vh solid #fff; /* Добавляем треугольник */
    cursor: pointer;
}
.arrowTop::after{

    border: 1.5vw solid transparent; 
    border-bottom: 4vh solid #fff;
    border-top: none;
}
.input::placeholder{

    color: #333333;
    text-align: center;
}
.input{
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    border-right: 5px solid #fff;
}
.input, .arrow{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
}
.possibleData{

    position: relative;
    width: 100%;
    background-color: #fff;
    color: #009BDF;
    font-family: 'Mediator Serif Regular';
    font-size: 1.5em;
    background-color: #fff;
    display: grid;
    grid-auto-flow: row;
    z-index: 10;
}
#id{

}