.form{


    height: 150vh;
 
}
.textarea{

    justify-self: center;
    width: 70%;
    height: 62vh;
}
.button_change, .button_description{

    width: 30%;
    height: 10vh;
    justify-self: start;
}
.button_description{

    width: 45%;   
    justify-self: end;
}
.textarea{

    font-size: 1em;
}
.select{

    justify-self: center;
    width: 50%;
    height: 10vh;
}
.buttons{
    display: grid;
    width: 100%;
    grid-column-gap: 3%;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}