@import '../../../styles/index.scss';
// .relax{
//     height: auto;
// }


.resort
{
    display: grid;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
    /* width: min-content; */
    /* padding: 0 15px; */
    grid-template-rows: 1fr; 
    grid-template-areas: 'search'
                         'choose';
    gap: 35px;

    .search
    {
        grid-area: search;
    }

    
    .choose
    {
        @include double_choose_block();
        grid-area: choose;

        .left, .right
        {
            text-align: center;

            h1
            {
                @extend %border;
                @extend %button;
                color: black;
                margin: 0;
                padding: 5px 25px;
            }
            
        }
    }
}

@media screen and (max-width: 1024px)
{
    .resort
    {

        .choose
        {
            
            .left, .right
            {

                h1
                {
                    font-size: 1.5em;
                }
            }
        }
    }
}
@media screen and (max-width: 425px)
{
    .resort
    {
        
        .choose
        {
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            padding: 0;

            .left, .right
            {

                h1
                {
                    font-size: 1em;
                }
            }
        }
    }
}